data/M.RDS filter=lfs diff=lfs merge=lfs -text
data/histNet.RDS filter=lfs diff=lfs merge=lfs -text
data/keyword_cooccurrence_networks.RDS filter=lfs diff=lfs merge=lfs -text
data/MC_HC_article.RDS filter=lfs diff=lfs merge=lfs -text
data/MC_HC_histNet.RDS filter=lfs diff=lfs merge=lfs -text
data/real_paper.RDS filter=lfs diff=lfs merge=lfs -text
data/country_collaboration_networks.RDS filter=lfs diff=lfs merge=lfs -text
data/MC.RDS filter=lfs diff=lfs merge=lfs -text
data/mostProdCountries.RDS filter=lfs diff=lfs merge=lfs -text
data/reference_cocitation_network.RDS filter=lfs diff=lfs merge=lfs -text
data/reference_cocitation_networks.RDS filter=lfs diff=lfs merge=lfs -text
data/author_collaboration_networks.RDS filter=lfs diff=lfs merge=lfs -text
data/keyword_yearly_freq.RDS filter=lfs diff=lfs merge=lfs -text
data/LC.RDS filter=lfs diff=lfs merge=lfs -text
data/results.RDS filter=lfs diff=lfs merge=lfs -text
data/M0.RDS filter=lfs diff=lfs merge=lfs -text
data/M1.RDS filter=lfs diff=lfs merge=lfs -text
data/reference_coupling_networks.RDS filter=lfs diff=lfs merge=lfs -text
data/result_summary.RDS filter=lfs diff=lfs merge=lfs -text
